* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
:root {
    --background-color: #1b1b1b;
    --bg-button-color: #313030;
    --bg-addtaskbutton-color: #132881;
    --padding-m: 10px;
    --border-radius-m: 10px;
    --border-radius-s: 5px;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    background-color: var(--background-color);
    color: #ffffff;
}
nav {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button {
    background-color: var(--bg-button-color);
    border: none;
    color: #ffffff;
    padding: var(--padding-m) 15px;
    border-radius: var(--border-radius-m);
    cursor: pointer;
    
}
section {
    padding: 15px 30px;
    display: flex;
    gap: 30px;
    flex-grow: 1;
}
.task-column {
    background-color: var(--bg-button-color);
    flex-grow: 1;
    padding: 10px;
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-column.hover-over {
    border: 2px dashed #ffffff;
    scale: 1.02;
}
.task-column .heading {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.task {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: grab;
}
.task h2 {
    font-size: 1.1rem;
    font-weight: bold;
}
.task p {
    font-size: 0.95rem;
    line-height: 1.3;
    opacity: 0.9;
}
.task button {
    align-self: flex-end;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: #e02020;
    color: #ffffff;
}
#todo .task {
    background-color: #e74c3c;
    color: #ffffff;
}
#progress .task {
    background-color: #f39c12;
    color: #000000;
}
#done .task {
    background-color: #27ae60;
    color: #ffffff;
}
.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #86868681;
    backdrop-filter: blur(5px);
}
.modal .center {
    background-color: var(--bg-button-color);
    padding: 30px;
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}
.modal .center input, .modal .center textarea {
    background-color: #2e2d2d;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 10px;
    border-radius: var(--border-radius-s);
}
.modal .center button {
    background-color: var(--bg-addtaskbutton-color);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: var(--border-radius-s);
    align-self: center;
}
#toggle-modal{
font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

.deleteBtn{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto; 
}
